.menuUl {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.menuUl li {
  text-align: center;
  justify-self: center;
  align-self: center;
  width: 100%;
  padding-right: 1rem;
  margin-right: 1rem;
}
