footer {
  color: white;
}

.ft-main {
  line-height: 1.5;
  display: flex;
  background-color: #345;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ft-main ul {
  list-style-type: none;
  padding: 0;
}

.ft-main ul li a {
  color: white;
  text-decoration: none;
}

.ft-a {
  grid-column: 2 / 3;
  max-width: 400px;
  padding: 1rem 2rem;
}

.ft-b {
  grid-column: 3 / 4;
  padding: 1rem 2rem;
}

.ft-a h3,
.ft-b h3 {
  text-align: center;
}

.ft-b a:hover {
 cursor: pointer;
 color: #ccc;
}

.ft-end {
  background-color: #123;
  padding: 1px 20px;
  grid-column: 1 / -1;
}

.ft-social {
  background-color: #1f3040;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ft-social a {
  color: white;
  text-decoration: none;
 font-size: 2rem;
 margin: 1rem;
 padding: 0 1rem;
}

a:hover {
 cursor: pointer;
 color: #ccc;
}

@media screen and (max-width: 500px) {
  .ft-a {
    grid-column: 1 / -1;
  }

  .ft-b {
    grid-column: 1 / -1;
  }

  .ft-main {
    height: auto;
  }
}
