.FourColumnGrid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.FourColumnItem {
  padding: 1rem;
  display: grid;
  justify-content: center;
  align-content: center;
}

.FourColumnItem p {
  font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .FourColumnGrid {
    grid-template-columns: 1fr 1fr;
  }

  .FourColumnItem p,
  .FourColumnItem h1 {
    font-size: 1.3rem;
  }
}


@media screen and (max-width: 500px) {
  .FourColumnGrid {
    grid-template-columns: 1fr;
  }

  .FourColumnItem p,
  .FourColumnItem h1 {
    font-size: 1.3rem;
  }
}
